body{
    background-color: #f8f1e3;
}

h1{
    text-align: center;
    color: rgb(27, 0, 0);
    text-shadow:1px /* for horizontal space*/
                1px /* for vertical space*/
                1px /* for opacity/blurring*/
                rgb(212, 119, 90);
    font-size: xx-large;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0%;
    margin-right: 0%;
    
}


h2{
    color: rgb(0, 0, 0);
    margin-bottom: 1%;

}

img{
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
    width: 40%;
}

#cap{ 
  color: rgb(88, 32, 0);
  text-align: center;
  font-size:large;
  font-style: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#content{
    background-color: hsl(39, 53%, 77%);
    box-shadow: 5px 5px 10px rgb(94, 85, 74);
    font-family: Georgia;
    padding: 30px 30px;
    margin: 150px;
    margin-top: 50px;
}

p{
    margin-top: 0%;
    margin-bottom: 3%;
    color: rgb(70, 70, 70);
}

footer {
    text-align: center;
}